<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvin Letgo - Projects</title>
    <link rel="stylesheet" href="static/css/MultiplayerGame.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>

<body>
    <div class="container">
        <header>
            <a href="/">
                <img src="/static/images/LOGO.JPG" alt="Marvin Letgo Logo">
            </a>
            <nav>
                <a href="/project">Projects</a>
                <a href="/about">About</a>
                <a href="/personal">Career</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>

        <div class="content-area">
            <div class="Description">
                <h3 class="title">Multiplayer Games</h3>
                <p>
                    Using UE5, develop a multiplayer online game and deploy it on a web server to facilitate the streaming of the multiplayer game.
                </p>
                <p>
                    Integrate features such as chatbox rooms, voice chat, live streaming, screenshot capture, and video recording within the game.
                </p>
            </div>
            <div class="video-container">
                <iframe class="devops-video" src="https://www.youtube.com/embed/eCwRcsdfRTo?si=ffMAeXWMGzdjoOZ2" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <section class="tools-logo1">

            <img src="/static/images/Unreal_Engine.png" alt="Unreal_Engine Icon" class="Unreal_Engine-image">

            <img src="/static/images/ubuntu.png" alt="ubuntu Icon" class="ubuntu-image">

            <img src="/static/images//Perforce.jpg" alt="Perforce Icon" class="Perforce-image">

            <img src="/static/images/nginx.jpg" alt="nginx Icon" class="nginx-image">

            <img src="/static/images/jenkins.jpg" alt="jenkins Icon" class="jenkins-image">

        </section>

        <section class="tools-logo2">

            <img src="/static/images/gunicorn.jpeg" alt="gunicorn Icon" class="gunicorn-image">

            <img src="/static/images/GitHub.png" alt="GitHub Icon" class="GitHub-image">

            <img src="/static/images/flask.png" alt="flask Icon" class="flask-image">

            <img src="/static/images/docker.png" alt="docker Icon" class="docker-image">

            <img src="/static/images/aws.png" alt="aws Icon" class="aws-image">

        </section>


        <section class="icon-grid">
            <!-- Place your image grid here -->
            <a href="https://www.facebook.com/chengyi.peng.9" target="_blank">
                <img src="/static/images/icon_facebook.png" alt="Instagram Icon" class="icon-image">
            </a>
            <a href="https://www.linkedin.com/in/marvin-peng-098855177/" target="_blank">
                <img src="/static/images/icon_linkedin.png" alt="LinkedIn Icon" class="icon-image">
            </a>
            <a href="https://github.com/fankyone" target="_blank">
                <img src="/static/images//icon-github.png" alt="Github Icon" class="icon-image">
            </a>
            <a href="https://www.youtube.com/channel/UCnFOo4akyGxzXwx1WnOC6AA" target="_blank">
                <img src="/static/images/icon_youtube.png" alt="YouTube Icon" class="icon-image">
            </a>
        </section>
    </div>
</body>

</html>
